*{margin: 0; padding: 0;}
li{ list-style: none;}
img{width: 190px;height: 160px;transform: scale(0.9);}
#box{width: 600px;height: 600px;position: relative;}
#box #close{width: 190px;height: 200px;position: absolute;left: 196px;top: 206px;background: rgba(0, 0,0, 0.4);z-index: 9;display: none}
#box ul li{width: 190px;height: 200px;float: left;border: 2px solid #000000;}
#box ul li dl dd{text-align: center; height: 30px;font:18px/30px '宋体';}

#box ul li:nth-child(4){position: absolute;left: 388px;top: 204px;}
#box ul li:nth-child(5){position: absolute;left: 388px;top: 408px;}
#box ul li:nth-child(6){position: absolute;left: 194px;top: 408px;}
#box ul li:nth-child(7){position: absolute;left: 0px;top: 408px;}
#box ul li:nth-child(8){position: absolute;left: 0px;top: 204px;}
#box ul li.nine{position: absolute;left: 194px;top: 204px;}